body {
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace;
}

@media only screen and (max-width: 600px) {
  .row-to-column-reverse {
    flex-direction: column-reverse !important;
    align-items: first baseline !important;
    gap: 4px !important;
  }

  .row-to-column {
    flex-direction: column !important;
    align-items: first baseline !important;
    gap: 4px !important;
  }

  .header_search_bar {
    width: 100% !important;
  }
}


.blog-post {
  color: black;
  background-color: #e9e9e9;
  padding: 10px;
}

.blog-post .blog-title {
  font-size: 24px;
  font-weight: bold;
}

.blog-post .blog-content {
  font-size: 16px;
  white-space: pre-wrap;
}

.blog-published-date, .blog-updated-date {
  font-size: 16px;
  color: darkslategrey;
}

.blog-post-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.blog-edit-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 40px 20px 20px 20px;
}

.blog-title-edit {
  font-size: 24px;
  font-weight: bold;
  padding: 8px;
}

.blog-content-edit {
  padding: 8px;
}

input {
  font-family: 'Courier New', Courier, monospace;
}

textarea {
  font-family: 'Courier New', Courier, monospace;
}

.search-input {
  padding: 4px;
  font-size: 16px;
}

button {
  background-color: darkcyan;
  border: 1px solid darkblue;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  padding: 4px 8px;
}

button:hover{
  background-color: darkslategrey;
}

.search-button {
}

.search-button:hover {
}

.display-none {
  display: none;
}

/* Background colors */
.bg-white{
  background-color: white;
}

.bg-whitesmoke{
  background-color: whitesmoke;
}

.opacity-50{
  opacity: 0.5;
}

/* Position */
.sticky {
  position: sticky;
  top: 0;
  left: 0;
}

/* Raw Margin */
.mb-10 {
  margin-bottom: 10px;
}
.my-10{
  margin-top: 10px;
  margin-bottom: 10px;
}
.me-20{
  margin-right: 20px;
}
.me-8{
  margin-right: 8px;
}
.my-0{
  margin-top: 0px;
  margin-bottom: 0px;
}

/* Raw padding */
.p-10 {
  padding: 10px;
}
.py-10 {
  padding: 10px;
}

a {
  color: darkslategrey
}

a:hover{
  color: slateblue;
  cursor: pointer
}

.box{
  padding: 10px;
  border: 1px solid darkslategrey;
}

/* Text */
.text-center {
  text-align: center;
}
.text-darkslategrey {
  color: darkslategrey;
}
.text-white {
  color: white;
}
.text-black {
  color: black;
}

/* Flexing */
.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.justify-start {
  justify-content: flex-start;
}

.align-start {
  align-items: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.align-end {
  align-items: flex-end;
}

.space-between{
  justify-content: space-between;
}

.gap-20{
  gap: 20px;
}

.gap-10 {
  gap: 10px;
}

.gap-8 {
  gap: 8px;
}

.gap-4 {
  gap: 4px;
}
