body {
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace;
}

.blog-post {
  color: black;
  background-color: plum;
  padding: 10px;
}

.blog-post .blog-title {
  font-size: 24px;
  font-weight: bold;
}

.blog-post .blog-content {
  font-size: 16px;
}

.blog-published-date, .blog-updated-date {
  font-size: 16px;
  color: darkslategrey;
}

.blog-post-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Raw Margin */
.mb-10 {
  margin-bottom: 10px;
}
.my-10{
  margin-top: 10px;
  margin-bottom: 10px;
}
.me-20{
  margin-right: 20px;
}
.me-8{
  margin-right: 8px;
}

/* Text */
.text-center {
  text-align: center;
}
.text-darkslategrey {
  color: darkslategrey;
}
.text-white {
  color: white;
}
.text-black {
  color: black;
}

/* Flexing */
.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.justify-start {
  justify-content: flex-start;
}

.align-start {
  align-items: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.align-end {
  align-items: flex-end;
}


.gap-10 {
  gap: 10px;
}

.gap-8 {
  gap: 8px;
}

.gap-4 {
  gap: 4px;
}
